.box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: white;
    animation-name: first;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
body{
    background-color: orange;
}
@keyframes first{
    0%{
        transform: rotate3d(0deg, 0deg, 0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateZ(180deg) rotateY(0deg);
    }
}
@keyframes second{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes third{
    0%{
        width: 20px;
        height: 20px;
    }
    12%{
        width: 16px;
        height: 16px;
    }
    25%{
        width: 12px;
        height: 12px;
    }
    37%{
        width: 16px;
        height: 16px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}
.round{
    margin: 100px;
    position: relative;
    width: 200px;
    height: 200px;
}
.dot{
    transition: all ease;
    width: 200px;
    height: 200px;
    position: absolute;
    animation-name: second;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.dot:nth-child(1){
    animation-delay: 0s;
}
.dot:nth-child(2){
    animation-delay: 0.1s;
}
.dot:nth-child(3){
    animation-delay: 0.2s;
}
.dot:nth-child(4){
    animation-delay: 0.3s;
}
.dot:nth-child(5){
    animation-delay: 0.4s;
}
.dot:nth-child(6){
    animation-delay: 0.5s;
}
.dotchild{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    animation: third 2s ease infinite;
}