@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
p{
    text-align: center;
}
.bg{
    position: absolute;
    margin-top: -20px;
    width: 100%;
    height: 100vh;
    .bg1{
        position: absolute;    
        background: url('https://my-space.space/numerio/img/main-bg.svg') 50% 0 no-repeat;

    
    }
    .bg2{
        position: absolute;
        background: url('https://my-space.space/numerio/img/main.svg') 50% 0 no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
.contactheader{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    transform: translateX(-20px);
    .topcontact{
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        transform: translateX(-20px);
    }
    .hr{
        border-bottom: 1px solid #e0e2eb;
        width: 100vw;
        padding-bottom: 10px;
        transform: translateX(0px);
    }
    .linktext::after{
        content: '';
        display: inline-block;
        width: .2rem;
        height: .2rem;
        
        border-radius: 50%;
        border: 2px solid #FB5472;
        margin: 10px 10px 0px 0px;
    }
}
.header{
    width: 100%;
    height: 80px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0);
}
.logo{
    margin: 20px;
    color: #485596;
    font-size: 20px;
}
.toolbar{
    //display: flex;
    margin-right: 20px;
    @include flex(space-between, center);
    .moreicon{
        .hamburger{
            display: flex;
            width: 30px;
            flex-wrap: wrap;
            justify-content: flex-end;
            .hori{
                transform: translateY(-5px);
                margin-right: 10px;
                margin-bottom: -1px;
                height: 5px;
                width: 20px;
                border-bottom: 2px solid #000000;
            }
            .hori:nth-child(3){
                width: 15px;
            }
        }
    }
}
.listtool{
    display: flex;
    list-style-type: none;
    position: relative;
}
.listtoolitem{
    margin-right: -5px;
    position: relative;
    color: #9095ad;
    font-family: sans-serif;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
    transition-delay: 0.5s;
    transition: all 1s ease;
    a{
        color: #9095ad;
        text-decoration: none;
    }
}
.listtoolitem > a:hover{
    color: #fa617d;
}
.listtoolitemactive{
    margin-right: -5px;
    position: relative;
    color: #fa617d;
    font-family: sans-serif;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
    transition-delay: 0.5s;
    transition: all 1s ease;
    a{
        color: #fa617d;
        text-decoration: none;
    }
}
.header .listtoolitemactive::before{
    //content: attr(data-before);
    content: '';
    display: block;
    width: .3rem;
    height: .3rem;
    left: 45%;
    top: 0.5rem;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #FB5472;
}
.popup-form{
    position: fixed;
    background-color: #0000001c;
    height: 100%;
    width: 100%;
    display: inline-block;
    z-index: 12;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
    .submit-form{
        width: 400px;
        height: 600px;
        background-color: white;
        margin: 20px;
        padding: 80px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
    }
    .popup-inputboxgroup{
        position: relative;
        top: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        gap: 20px;
        height: 100px;
        .popup-inputbox{
            height: 50px;
            width: 100%;
            border: 1px solid #9095ad67;
            border-radius: 80px;
            background-color: #1b2b7c00;
            color: rgb(117,117,117);
            padding-left: 20px;
        }
    }
    .popup-submitbutton{
        position: relative;
        background-color: #fa617d;
        width: 120px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 80px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0px 10px 10px #ffcbd5;
        cursor: pointer;
    }
    .close-icon{
        position: absolute;
        margin-left: 430px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
        margin-top: -60px;
        font-family: 'Montserrat';
        font-weight: 500;
        text-align: center;
        cursor: pointer;
    }
    .close-icon:hover{
        color: #fa617d;
    }
}
.popup-form-2{
    position: fixed;
    background-color: #0000001c;
    height: 100%;
    width: 100%;
    display: inline-block;
    z-index: 12;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
}
.sankyou-form{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 40px);
    width: 350px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: auto;
    padding-bottom: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    .close-icon-2{
        position: absolute;
        margin-left: 340px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
        margin-top: 20px;
        font-family: 'Montserrat';
        font-weight: 500;
        text-align: center;
        cursor: pointer;
    }
    .close-icon:hover{
        color: #fa617d;
    }
    svg{
        margin-left: 80px;
    }
    div{
        text-align: center;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .popup-submitbutton-2{
        position: relative;
        background-color: #fa617d;
        width: 120px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 80px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0px 10px 10px #ffcbd5;
        cursor: pointer;
        margin-top: 50px;
        
    }
}
.startbutton{
    font-family: sans-serif;
    margin:25px;
    height: 40px;
    background-color: #1B2B7C;
    border-radius: 30px;
    width: 120px;
    color: white;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 200;
    box-shadow: 0px 10px 10px #E6E7F0;
    cursor: pointer;
}
.startbutton:hover{
    background-color: #fa617d;
}
.service{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    max-width: 1200px;

    position: relative;
    .text{
        position: relative;
        top:100px;
        .headingtext{
            p{
                padding-left: 20px;
            }
            p::before{
                content: '';
                display: block;
                width: .2rem;
                height: .2rem;
                left: 0;
                top: 1.1rem;
                position: absolute;
                border-radius: 50%;
                border: 2px solid #FB5472;
            }
        }
    }
    .learnbutton{
        width: 100px;
        position: relative;
        top: 120px;
        padding: 20px 30px 20px 30px;
        color:white;
        font-family: sans-serif;
        border-radius: 50px;
        background-color: #fa617d;
        box-shadow: 0px 10px 20px #ffcbd5;
        transition: all 1s ease;
        overflow: hidden;
        cursor: pointer;
        
    }
    .learnbutton:hover > .whiteEffect{
        transform: translateX(-120%) translateY(-200px);
    }
    .learnbutton:hover > .whiteEffect2{
        transform: translateX(-20%) translateY(-200px);
    }

    .servicebox{
        position: relative;
        top: 150px;
        display: flex;
        width: 100%;
        gap: 28px;
        .servicecard{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 300px;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            .round{
                position: absolute;
                transform: translateX(13%) translateY(-40%);
                background-color: #f4f5fb;
                width: calc(80%);
                aspect-ratio: 1 / 1;
                border-radius: 100%;
                .innerround{
                    position: absolute;
                    transform: translateX(33%) translateY(30%);
                    background-color: white;
                    width: calc(60%);
                    aspect-ratio: 1 / 1;
                    border-radius: 100%;
                }
            }
            .serviceicon{
                position: relative;
                width: 100%;
                top: 70px;
                .serviceimg{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            
        }
    }
}
.about{
    position: relative;

    max-width: 1200px;
    .history{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        #aboutimg{
            width: calc(100% - 500px);
            max-width: 550px;
        }
        .historytext{
            margin-top: 80px;
            width: 450px;
            min-width: 450px;
            p{
                text-align: left;
            }
            .aboutvideo{
                margin-top: 20px;
                display: flex;
                cursor: pointer;
                .aboutvideobutton{
                    background-color: #fbe3e6;
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    transition: all 1s ease;
                    .bgbutton{
                        margin-left: 15px;
                        margin-top: 15px;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        background: linear-gradient(270deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
                    }
                }

                .aboutvideobutton:hover{
                    transform: scale(1.2);
                }
                
                .videotext{
                    margin-left: 20px;
                }
            }
        }
    }
    .stat{
        display: flex;
        margin-top: 130px;
        gap: calc((100% - 200px*4)/3);
        .box{
            position: relative;
            display: flex;
            width: 250px;
            height: 250px;
            align-items: center;
            justify-content: center;
            p{
                position: absolute;
            }
            .round{
                position: absolute;
                top: -30%;
                left: 10%;
                background-color: #f4f5fb;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                .innerround{
                    
                    position: absolute;
                    top: 23%;
                    left: 23%;
                    background-color: white;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                }
            }
        }
    }
    .whatwedo{
        padding: 30px;
        position: relative;
        margin-top: -100px;
        .decor{
            margin-top: -20px;
            p{
                text-align: center;
                font-size: 50px;
                font-weight: 500;
                color: #1b2b7c;
                margin-bottom: -5px;
            }
        }
        .servicebox{
            position: relative;
            top: 100px;
            flex-wrap: wrap;
            display: flex;        
            height: auto;
            gap: 30px;
            .servicecard2{
                box-shadow: 0 4px 20px 0 rgba(154, 172, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                height: auto;
                background-color: white;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                .round{
                    position: absolute;
                    transform: translateX(-70px) translateY(-70px);
                    background-color: #f4f5fb;
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    z-index: 0;
                    .innerround{
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        background-color: white;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                    }
                }
                .serviceicon2{
                    display: flex;
                    position: relative;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                    top:20px;
                    gap: 10px;
                    p{
                        padding-left: -10px;
                        padding-right: 20px;
                        text-align: left;
                    }
                }
                
            }
        }
        .decor::before{
            content: '';
            background: url('https://my-space.space/numerio/img/leaf-left.svg');
            width: 70px;
            height: 69px;
            position: absolute;
        }
        .decor::after{
            left: 90%;
            top: 6%;
            width: 88px;
            height: 56px;
            content: '';
            background: url('https://my-space.space/numerio/img/leaf-right.svg');
            position: absolute;
        }
        .getstarted{
            width: 100vw;
            height: auto;
            margin-top: -450px;
            .bgstart{
                position: relative;
                width: 100%;
                height: 100vh;
                
                top: 650px;
                z-index: -1;
                .bg1{
                    position: absolute;  
                    top:-180px;
                    transform: translateX(-10%);
                    background: url('https://my-space.space/numerio/img/bg/bg-2.svg') 50% 0 no-repeat;
                    width: 150%;
                    background-size: auto 100%;
                    height: 150%;
                }
                .bg2{
                    position: absolute;    
                    background: url('https://my-space.space/numerio/img/consultation.svg') 50% 0 no-repeat;
                    width: 130%;
                    background-size: auto 100%;
                    height: 130%;
                    left: 5%;
                }
            }
            .textbox{
                position: relative;
                top: 100px;
                max-width: 450px;
                p{
                    text-align: left;
                }
                .submittext{
                    margin-top: -50px;
                }
            }
            .inputboxgroup{
                position: relative;
                top: 120px;
                width: 450px;
                display: flex;
                flex-wrap: wrap;
                
                gap: 20px;
                height: 100px;
                .inputbox{
                    height: 50px;
                    border: 1px solid #9095ad67;
                    border-radius: 80px;
                    background-color: #1b2b7c00;
                    color: rgb(117,117,117);
                    padding-left: 20px;
                }
            }
            .submitbutton{
                position: relative;
                background-color: #fa617d;
                width: 120px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: white;
                border-radius: 80px;
                margin-right: 20px;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 500;
                box-shadow: 0px 10px 10px #ffcbd5;
                overflow: hidden;
                cursor: pointer;
                .whiteEffect{
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    transform: translateY(-200px);
                    background: linear-gradient(270deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
                    z-index: 0;
                    transition: all 0.5s ease;
                }
                .whiteEffect2{
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    transform: translateY(-200px) translateX(100%);
                    background: linear-gradient(90deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
                    z-index: 0;
                    transition: all 0.5s ease;
                }
            }
            .submitbutton:hover > .whiteEffect{
                transform: translateX(-120%) translateY(-200px);
            }
            .submitbutton:hover > .whiteEffect2{
                transform: translateX(-20%) translateY(-200px);
            }
            .cardbox{
                position: relative;
                justify-content: center;
                display: flex;
                gap: 30px;
                width: 100%;
                max-width: 1200px;
                top: 180px;
                .card{
                    background-color: white;
                    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.441);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        box-sizing: border-box;
                        width: 80%;
                        height: 80%;
                        top: 10%;
                        left: 10%;
                    }
                }
            }
        }
    }
}
.step{
    padding: 30px;
    position: relative;
    margin-top: 150px;
    max-width: 1200px;
    .decor{
        margin-top: -40px;
        p{
            text-align: center;
            font-size: 50px;
            font-weight: 500;
            color: #1b2b7c;
            margin-bottom: -5px;
        }
    }
    .decor::before{
        content: '';
        background: url('https://my-space.space/numerio/img/leaf-left.svg');
        width: 70px;
        height: 69px;
        position: absolute;
    }
    .stepboxgroup{
        position: relative;
        width: 100%;
        top: 50px;
        gap: 30px;
        display: flex;
        .stepbox{
            height: 200px;
            display: flex;
            justify-content: center;
            position: relative;
            .index{
                z-index: -1;
                top: -160px;
                position: absolute;
                color: #eef0f8;
                font-size: 150px;
                font-weight: 900;
                font-family: 'Roboto Slab';
            }
            .iconbox{
                img{
                    transform: translateX(20%);
                }
            }
        }
    }
}
.price{
    position: relative;
    margin-top: 60px;
    max-width: 1200px;
    .decor{
        margin-top: -40px;
        p{
            text-align: center;
            font-size: 50px;
            font-weight: 500;
            color: #1b2b7c;
            margin-bottom: -5px;
        }
    }
    .decor::after{
        left: 80%;
        top: 6%;
        width: 88px;
        height: 56px;
        content: '';
        background: url('https://my-space.space/numerio/img/leaf-right.svg');
        position: absolute;
    }
    .pricepackbox{
        width: 100%;
        position: relative;
        .servicebox{
            position: relative;
            top: 100px;
            display: flex;
            width: 100%;
            gap: 30px;
            padding: 60px;
            .pricecard{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background-color: white;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                z-index: -2;
                .round{
                    position: absolute;
                    top: -30%;
                    left: -5%;
                    background-color: #f4f5fb;
                    width: calc(110%);
                    height: 400px;
                    border-radius: 100%;
                    z-index: -1;
                }
                .pricetext{
                    margin-left: 5%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                }
                .detailpack{
                    margin-top: 120px;
                    p{
                        margin-bottom: 50px;
                    }
                }
                .buybutton{
                    margin-left: auto;
                    margin-right: auto;
                    width: 100px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -40px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #1b2b7c;
                    background-color: #f4f5fb;
                    border-radius: 80px;
                    box-shadow: 0px 20px 10px #e1e4f6a2;
                }
            }
        }
    }
    .newsletter{
        margin-top: 100px;
        width: 100%;
        .bg{
            z-index: -3;
            width: 100%;
            margin-top: -300px;
            .newsbg1{
                position: absolute;
            }

        }
        .content{
            position: relative;
            width: 100%;
            transform: translateY(-60px);
            display: flex;
            justify-content: center;
            
            .textcontent{
                position: relative;
                .inputbox{
                    position: relative;
                    width: 70%;
                    height: 50px;
                    border: 1px solid #9095ad67;
                    border-radius: 80px;
                    padding-left: 20px;
                }
                .subcribebutton{
                    position: relative;
                    background-color: #fa617d;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    margin-left: 20px;
                    width: 25%;
                    border-radius: 80px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 10px 20px #ffcbd5;
                    overflow: hidden;
                    cursor: pointer;
                    .whiteEffect{
                        position: absolute;
                        width: 100%;
                        height: 100vh;
                        transform: translateY(-200px);
                        background: linear-gradient(270deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
                        z-index: 0;
                        transition: all 0.5s ease;
                    }
                    .whiteEffect2{
                        position: absolute;
                        width: 100%;
                        height: 100vh;
                        transform: translateY(-200px) translateX(100%);
                        background: linear-gradient(90deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
                        z-index: 0;
                        transition: all 0.5s ease;
                    }
                }
                .subcribebutton:hover > .whiteEffect{
                    transform: translateX(-120%) translateY(-200px);
                }
                .subcribebutton:hover > .whiteEffect2{
                    transform: translateX(-20%) translateY(-200px);
                }
            }
            .newsbg2{
                position: relative;
                margin-top: -50px;
                img{
                    width: 35vw;
                }
            }
        }
    }
}
.testimonial{
    width: 100%;
    display: flex;
    margin-top: 250px;
    justify-content: space-between;
    max-width: 1200px;
    img{
        width: 50%;
    }
    .textbox{
        margin-left: 10px;
        margin-top: 100px;
        padding-right: 40px;
        .coord{
            width: 100%;
            display: flex;
            .image{
                img{
                    width: 70px;
                }
            }
            .infor{
                margin-left: 30px;
                margin-top: 20px;
            }
        }
    }
    p{
        text-align: left;
    }
}
.blog{
    position: relative;
    top: 100px;
    max-width: 1200px;
    .viewbutton{
        position: relative;
        overflow: hidden;
        background-color: #fa617d;
        font-family: 'Montserrat';
        font-weight: 600;
        box-shadow: 0px 10px 10px #ffcbd5;
        font-size: 14px;
        width: 120px;
        height: 50px;
        border-radius: 80px;
        color: white;
        line-height: 50px;
        cursor: pointer;
    }
    .viewbutton:hover > .whiteEffect{
        transform: translateX(-120%) translateY(-200px);
    }
    .viewbutton:hover > .whiteEffect2{
        transform: translateX(-20%) translateY(-200px);
    }

    .blogboxgroup{
        display: flex;
        gap: 30px;

        .blogbox{
            height: calc((100%));
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: white;
            .under{
                
                padding-left: 30px;
                
                .infor{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    
                    gap: 10px;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
            
        }
    }
}
.footer{
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .bg{
        position: absolute;
        width: 100vw;
        top: -300px;
        z-index: -4;
        background: url('https://my-space.space/numerio/img/bg/footer-2.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgres{
        position: absolute;
        width: 100vw;
        z-index: -4;
        top: 22%;
        background: url('bg.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 78%;
    }
    .firstbar{
        padding-left: 60px;
        padding-right: 60px;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin-top: 180px;
        margin-bottom: 20px;
        .startbutton2{
            width: 130px;
            color: white;
            font-family: 'Montserrat';
            font-size: 14px;
            height: 45px;
            background-color: #1b2b7c;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            box-shadow: 0px 10px 10px #c5c7e1;
            cursor: pointer;
            transition: all 1s ease;
        }    
        .startbutton2:hover{
            background-color: #fa617d;
        }
    }
    .firstbarres1{
        padding-left: 30px;
        padding-right: 30px;
        position: relative;

        align-items: center;
        margin-top: 180px;
        margin-bottom: 20px;
        .upperbarres1{
            display: flex;
            justify-content: space-between;
        }
        .startbutton2{
            width: 130px;
            color: white;
            font-family: 'Montserrat';
            font-size: 14px;
            height: 45px;
            background-color: #1b2b7c;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            box-shadow: 0px 10px 10px #c5c7e1;

        }  
    }
    .firstbarres2{
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 180px;
        margin-bottom: 20px;
        .startbutton2{
            width: 400px;
            color: white;
            font-family: 'Montserrat';
            font-size: 14px;
            height: 45px;
            background-color: #1b2b7c;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            box-shadow: 0px 10px 10px #c5c7e1;
            margin-top: 20px;
        }  
    }
    .secondbar{
        padding-left: 60px;
        padding-right: 90px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .listtool{
            display: flex;
            list-style-type: none;
            
            position: relative;
            transform: translateX(-125px);
            .listtoolitem{
                color: #9095ad;
                font-family: sans-serif;
                padding: 20px;
                font-size: 14px;
            }
        }

    }
    .secondbarres1{
        width: 100%;
        .listtool{
            display: flex;
            list-style-type: none;
            position: relative;
            box-sizing: border-box;
            .listtoolitem{
                color: #9095ad;
                font-family: sans-serif;
                padding: 20px;
                font-size: 14px;
            }
        }

    }
    .secondbarres2{
        width: 100%;
        .listtool2{
            list-style-type: none;
            position: relative;
            margin-left: -30px;
            margin-top: 30px;
            .listtoolitem{
                color: #9095ad;
                font-family: sans-serif;
                padding: 20px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                margin-top: -30px;
            }
        }

    }
}
.sidecanvas{
    position: fixed;
    top: 0;
    z-index: 11;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-left: 100vw;
    transition-delay: 0s;

    .x-icon{
        margin-left: 95%;
        margin-top: 30px;
        .hamburger{
            display: flex;
            width: 30px;
            flex-wrap: wrap;
            justify-content: flex-end;
            .hori{
                transform: translateY(-5px);
                margin-right: 10px;
                margin-bottom: -1px;
                height: 5px;
                width: 20px;
                border-bottom: 2px solid #000000;
            }
            .hori:nth-child(3){
                width: 15px;
            }
        }
    }
    .content{
        position: relative;
        margin-top: 20px;
        .list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .listitem{
                width: 100%;
                margin-bottom: 20px;
                font-size: 15px;
                font-weight: 500;
                font-family: 'Montserrat';
                color: #7D6A89;
                display: flex;
                justify-content: center;
            }
            p{
                width: 100%;
                margin-bottom: -2px;
                font-family: 'Montserrat';
                font-weight: 600;
            }
        }
    }
}
.videotab{
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 120vh;
    background-color: #0000003b;
}
.servicecard:nth-child(even){
    transform: translateY(-60px);
}
.servicecard2:nth-child(2){
    transform: translateY(40px);
}
.servicecard2:nth-child(5){
    transform: translateY(40px);
}
.card:nth-child(even){
    transform: translateY(-40px);
}
.linktext{
    display: inline-block;
    margin-top: -5px;
}
.linktext::after{
    content: '';
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    border: 2px solid #FB5472;
    margin: 10px 10px 0px 0px;
}
.sidecanvas .linktext::after{
    content: '';
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    border: 2px solid #FB5472;
    margin: 10px 10px 0px 0px;
    transform: translateX(5px);
}
.whiteEffect{
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateY(-200px);
    background: linear-gradient(270deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
    z-index: 0;
    transition: all 0.5s ease;
}
.whiteEffect2{
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateY(-200px) translateX(100%);
    background: linear-gradient(90deg, rgba(255, 195, 195, 0.8), rgb(250,97,125) 70.71%);
    z-index: 0;
    transition: all 0.5s ease;
}